*,
root,
html {
  padding: 5px;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

input[type="text"]:focus {
  outline: 1px solid #a8a8a8;
}
.card-audios-info {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}

.main-audios-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.text-audio {
  display: inline-block;
  text-align: left;
}

.listen-button {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.created-at {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: 15px;
  font-style: italic;
}

.show-error {
  color: red;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loadingDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  opacity: 0.5;
}
